
variables:
  PIPELINE_RUNNER: registry.gitlab.com/darklab2/darklab_pipeliner/darklab-pipeliner:kubectl-v1.0.3
  GOLANG_BUILDING: darkwind8/builder-golang
  GOLANG_VERISON: v1.0.0
  BUILDER_DOCKER_KUBECTL_DOCKER_REGISTRY: darkwind8/builder-docker-kubectl
  BUILDER_DOCKER_KUBECTL_VERSION: v1.0.0



stages:
  - build_and_push

deploying_golang_builder:
  image: ${PIPELINE_RUNNER}
  stage: build_and_push
  variables:
    DOCKER_HOST: tcp://dind-service:2375
  script:
      - docker ps
      - mkdir ~/.docker; echo "$dockerconfig_darkwind8" > ~/.docker/config.json
      - docker build --tag $GOLANG_BUILDING:latest builder-golang
      - docker push $GOLANG_BUILDING:latest
      - docker build --tag $GOLANG_BUILDING:$GOLANG_VERISON builder-golang
      - docker push $GOLANG_BUILDING:$GOLANG_VERISON

deploying_docker_kubectl_builder:
  image: ${PIPELINE_RUNNER}
  stage: build_and_push
  variables:
    DOCKER_HOST: tcp://dind-service:2375
  script:
      - docker ps
      - mkdir ~/.docker; echo "$dockerconfig_darkwind8" > ~/.docker/config.json
      - docker build --tag $BUILDER_DOCKER_KUBECTL_DOCKER_REGISTRY:latest builder-docker-k8s
      - docker push $BUILDER_DOCKER_KUBECTL_DOCKER_REGISTRY:latest
      - docker build --tag $BUILDER_DOCKER_KUBECTL_DOCKER_REGISTRY:$BUILDER_DOCKER_KUBECTL_VERSION builder-docker-k8s
      - docker push $BUILDER_DOCKER_KUBECTL_DOCKER_REGISTRY:$BUILDER_DOCKER_KUBECTL_VERSION